<div class="movie" id={{imdbID}}>
    <img class="movie__image"
         src="{{Poster}}"
         alt="'{{Title}}' poster "
    />

    <div class="movie__body">
        <h2 class="movie__title">{{Title}}</h2>
        <p class="movie__description">
            {{Description}}
        </p>
{{!-- TODO new Date(Released) --}}
        <p class="movie__date">Released: {{Released}}</p>
        <p class="movie__rating">Rating: {{Rating}}</p>
    </div>
</div>